asgiref==3.11.0
attrs==25.4.0
autobahn==25.12.1
Automat==25.4.16
cbor2==5.7.1
cffi==2.0.0
channels==4.0.0
channels-redis==4.1.0
colorama==0.4.6
constantly==23.10.4
cryptography==42.0.0
daphne==4.0.0
decorator==5.2.1
dj-database-url==2.1.0
Django==5.0.1
django-cors-headers==4.3.1
django-filter==23.5
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
gunicorn==21.2.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
msgpack==1.1.2
numpy==2.3.5
packaging==25.0
pillow==10.4.0
proglog==0.1.12
psycopg==3.2.3
psycopg-binary==3.2.3
py-ubjson==0.16.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
PyJWT==2.10.1
pyOpenSSL==25.1.0
python-decouple==3.8
python-dotenv==1.2.1
pytz==2025.2
redis==5.0.1
service-identity==24.2.0
setuptools==80.9.0
sqlparse==0.5.4
tqdm==4.67.1
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
tzdata==2025.3
ujson==5.11.0
wheel==0.45.1
whitenoise==6.6.0
zope.interface==8.1.1
django-storages>=1.14
boto3>=1.34